.container {
    display: flex;
    gap: 100px;
  }
  
  .posts {
    flex: 1;
  }
  
  .post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 3px;
  }
  
  .imgContainer {
    width: 200px;
    height: 125px;
    position: Ū;
  }
  
  .img {
    object-fit: cover;
  }
  
  .delete {
    cursor: pointer;
    color: red;
    margin-right: 10px;
  }
  
  .new {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input,
  .textArea {
    padding: 10px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 3px;
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
  }
  
  .button {
    padding: 20px;
    cursor: pointer;
    background-color: #3D8F7D;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
    text-transform: uppercase;
  }