.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }
  
  .title{
  }
  
  .subtitle{
    font-size: 20px;
    margin-bottom: 30px;
  }
  
  .form {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .input {
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    border-radius: 5px;
    outline: none;
    color: #bbb;
    font-size: 20px;
    font-weight: bold;
  }
  
  .button {
    width: 300px;
    padding: 20px;
    cursor: pointer;
    background-color: #3D8F7D;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
  }
  
  .button:hover {
    background-color: #49b07d;
  }
  
  .or {
    color:  rgba(228, 97, 50, 0.72);
  }
  
  .link {
    text-decoration: underline;
    color: #3D8F7D;
  }
  
  .link:hover {
    color: #49b07d;
  }
  
  .google {
    background-color: rgba(228, 97, 50, 0.72);
  }
  
  .google:hover {
    background-color: rgba(228, 97, 50, 0.803);
  }